h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 24px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.sub-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.text-main-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navigation {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li {
    margin-right: 3em;
}

/* MAIN BACKGROUND */
.main-page {
    background-image: url('assets/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    object-fit: contain;
    position: relative;
    height: 860px;  
  }
/* NAVBAR */
.navbar {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5)!important;
}

nav a {
    color: #FFFFFF!important;
  }

.navbar-logo {
    padding-left: 120px!important;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}  

.navbar-main {
    margin-left: 150px!important;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.navbar-reg {
    margin-left: 300px!important;
    left: -100px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

/* CONTENT PLAY TRADITIONAL GAME */
.container {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 32%;
    left: 5%;
}

main h1 {
    line-height: 83px;
    margin-bottom: 45px;
    letter-spacing: 20px;
}

main p {
    line-height: 28px;
    margin-bottom: 45px;
    letter-spacing: 5px;
}

.btn-warning {
    background-color: #FFB548;
    padding-left: 50px;
    padding-right: 50px;    
}
  
/* SCROLL DOWN BUTTON */  
.scroll-down-button {
    position: absolute;
    bottom: 0px;
    left: 47%;
}
  
.scroll-down-button a {
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 2px;
  }

.scrool-down {
    margin-top: -40px;
}

/* THE GAMES */
.the-games {
    background-image: url('assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    background-size: 100% 100%;
    height: 860px;
}

.games-content {
    position: relative;
    color: #FFFFFF;
    margin-top: -1px;
    top: 28%;
}

.the-games-text {
    margin-top: -40px;
    margin-right: 15px;
}

.the-games-text h3 {
    line-height: 28px;
    letter-spacing: 2px;
}

.the-games-text h1 {
    line-height: 64px;
    letter-spacing: 3px;
}

.carousel-inner .carousel-item .d-block {
    width: 750px;
    height: 400px;
}

.carousel {
    width: 750px;
    height: 400px;
}

.carousel-indicators [data-bs-target] {
    background-color: #FFFFFF;
    border: 1px solid black;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    margin-right: 50px;
}

.carousel-control-prev-icon {
    background-image: url('assets/switch.svg');
    position: relative;
    left: -75px;
}

.carousel-control-next-icon {
    background-image: url('assets/switch-next.svg');
    position: relative;
    right: -75px;
}

/* GAME FEATURES */
.game-features {
    background-image: url('assets/features.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    background-size: 100% 100%;
    height: 860px;
}

.game-features .game-features-text {
    width: 400px;
    position: relative;
    top: -15px;
    right: 200px;
    color: #FFFFFF
}

.white-circle {
    border: 1px solid white;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 185px;
    left: -2px;
}

.vertical-line {
    border-left: 2px solid white;
    height: 120px;
    position: absolute;
    left: 5px;
    top: 200px;
}

.black-circle {
    border: 1px solid white;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 320px;
    left: -1px;
}

.black-circle2 {
    border: 1px solid white;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 388px;
    left: -1px;
}

.content-orange {
    margin-left: 40px;
}

.text-orange {
    color: #FFB548;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 2px;
    margin-top: 40px;
    position: relative;
}

/* SYSTEM REQUIREMENTS */
.system {
    background-image: url('assets/requirements.png');
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    background-size: 100% 100%;
    height: 860px;
    color: #FFFFFF;
}

.system h3 {
    text-align: center;
    position: relative;
    line-height: 16px;
    letter-spacing: 2px;
    top: 5%;
}

.system-req {
    width: 535px;
    height: 400px;
    position: relative;
    top: 15%;
    left: 5%;
}

.system-req h1 {
    line-height: 64px;
    letter-spacing: 3px;
}

.table {
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    color: white;
}

/* TOP SCORES */
.scores {
    background-image: url('assets/top-score-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 860px;
    padding: 130px;
}
  
.top-scores {
    color: white;
    margin-left: -15px;
    position: relative;
    top: 140px;
}
  
.top-scores h1 {
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
  
.top-scores h1 {
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
  
.top-scores p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    width: 330px;
    line-height: 22px;
    margin-top: 10px;
}
  
.top-scores .see-more {
    margin-top: 25px;
    background-color: #FFB548;
    width: 220px;
    padding: 10px;
    border-radius: 4px;
    border: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
}
  
.card-data {
    position: relative;
    right: -80px;
    padding-bottom: 0px;
    overflow: hidden;
    height: 550px;
}
  
.card-col {
    position: absolute;
    right: -115px;
    width: 800px;
}
  
.card-2 {
    position: relative;
    margin-left: -100px;
    width: 100%;
    height: auto;
}
  
.content-card {
    background-color: rgba(255, 255, 255, 0.08);
}
  
.content-card .picture {
    float: left;
    border-radius: 50%;
    width: 50px;
    box-shadow: 5px 1px#FFB548;
}
  
.content-card .twitter-logo {
    position: absolute;
    right: 15px;
    top: 20px;
}
  
.name {
    margin: 0px;
    position: relative;
    left: 20px;
}
  
.name .name-orange {
    color: #FFB548;
    margin-bottom: -12px;
    font-size: 24px;
}
  
.name .job {
    color: #FFFFFF;
    font-size: 18px;
    opacity: 0.5;
}
  
.clear {
    clear: both;
}
  
.card-text {
    font-weight: normal;
    color: white;
    font-size: 16px;
}
  
.card-footer {
    margin-top: -15px;
    font-size: 14px;
}